<div class="staff-container">
  <h2>Staff Management</h2>

  <table>
    <thead>
      <tr>
        <th>Staff_ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Shift</th>
        <th>Reporting Manager</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let staff of staffList">
        <td>{{ staff.id }}</td>
        <td>{{ staff.name }}</td>
        <td>{{ staff.role }}</td>
        <td>{{ staff.shift }}</td>
        <td>{{ staff.rm }}</td>
        <td>
          <button (click)="deleteStaff(staff.id)">Delete</button>
        </td>
      </tr>
    </tbody>
    
  </table>

  <div class="btn-container">
    <button (click)="addStaff()">Add Staff</button>
  </div>
</div>
