<div class="page-container">

  <header class="header">
    <h1>🏨Hotel TranquilNest</h1>
  </header>

  
  <main class="content">
    <section class="features">
      <h1>Welcome to Hotel TranquilNest</h1>
      <h2>Why Choose Us?</h2>
      <ul>
        <li> Air-conditioned Rooms</li>
        <li> Free Wi-Fi</li>
        <li> 24x7 Room Service</li>
        <li> In-house Dining</li>
        <li> Swimming Pool & Spa</li>
        <li> Conference & Banquet Halls</li>
      </ul>

      <button class="book-btn" routerLink="room-booking" routerLinkActive="active">Book Rooms</button>
    </section>

    <section class="child-container">
      <router-outlet></router-outlet>
    </section>

    <div style="text-align: center; margin-top: 30px;">
      <a routerLink="" routerLinkActive="active" style="text-decoration: none; font-weight: bold;">Home Page</a>
    </div>
  </main>
  
</div>
